<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="az.rock.flyjob.auth.dataAccess.repository.abstracts.query.batis.AbstractUserComposeQueryBatisRepository" >

    <resultMap id="user_profile_compose_result"
               type="az.rock.flyjob.auth.dataAccess.model.compose.user.UserCompose">
        <id property="uuid"
            column="uuid"
            typeHandler="az.rock.flyjob.auth.dataAccess.mapper.type.handler.UUIDTypeHandler"/>
        <result property="userType"
                column="user_type"/>
        <result property="key"
                column="key"
                typeHandler="az.rock.flyjob.auth.dataAccess.mapper.type.handler.UUIDTypeHandler"/>

        <collection property="emails"
                    foreignColumn="user_uuid"
                    fetchType="eager"
                    ofType="az.rock.flyjob.auth.dataAccess.model.compose.user.EmailCompose"
                    javaType="java.util.ArrayList">
            <id property="uuid"
                column="uuid"
                typeHandler="az.rock.flyjob.auth.dataAccess.mapper.type.handler.UUIDTypeHandler"/>
        </collection>

    </resultMap>

    <sql id="user_profile_compose_sql">
        main.id as parent_id,
               main.declaration_id,
               main.row_order,
               main.input_type,
               main.full_name,
               main.pin as emp_pin,
                ssn.ssn as sys_ssn,
                main.country,
                main.passport_serial,
                main.passport_no,
               amount.id as amount_id,
               amount.main_id,
               amount.indicator,
               amount.amount_m1,
               amount.amount_m2,
               amount.amount_m3,
               amount.amount_quarter
    </sql>


    <select id="findUserProfileComposeByUserId" resultMap="user_profile_compose_result">
        select
        <include refid="user_profile_compose_sql"/>
        from auth.users users
        left join auth.emails emails on users.uuid = emails.user_uuid
        where users.uuid = #{userId, jdbcType=VARCHAR} and users.row_status='ACTIVE'
    </select>
</mapper>